*{
    padding: 0px;
    margin: 0px;
}
.banner-container{
    height: 100vh;
    width: 100%;
}
.banner-image{
    position: relative;
    margin: 3;
}
.banner-text{
    position: absolute;
    top: 300px;
    right:80px;
    font-size: 40px;
    text-shadow: 1px;
    color: white;
    text-justify: distribute;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;   
}
.banner-paragraph{
    position: absolute;
    top:430px;
    right:80px;
    font-size: 20px;
    text-align: right;
    justify-content: center;
    color: white;   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner-button{
    position: absolute;
    top:550px;
    right:80px;
    padding: 25px;
    margin-top: 20px;
    background-color: #8BCED3;
    font-size: 18px;
    border-radius: 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    border: none;
}
.blue-font{
    color: #8BCED3;
}
/* Focus Section */
.middle-part{
    display: flex;
    justify-content: space-between;
    background-color: #7869c610;
    position:relative;
    bottom: 68px;
    bottom: 145px;
}
.person-image{
    position: relative;
    left: 250px;
}
.my-focus{
    position: relative;
    right: 600px;
    top:200px

}
.middle-head{
    font-size: 50px;
    font-weight: 700;
    color: #8BCED3;
    font-family: Cambria, Cochin;

}
.focus-paragraph{
    text-align: left;
    font-size: 20px;
    padding-top: 20px

}
.section-list{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    
}

    
/* Professional Goals Icon  Section */

.icon-container{
    text-align: center;
    position:relative;
    background-color: #7869c610;
    bottom: 145px;
    


}
.icon-head{
    font-size: 50px;
    color: #8BCED3;
    font-family: Cambria, Cochin;
    padding-top: 50px;
    
}
.all-icons{
    display: flex;
    justify-content: space-between;
    padding: 150px;
}
.grey-color{
    color: gray;
    padding: 20px;
}
/* Quote Section */
.my-quote-container{
    height: 100vh;
    width: 100%;

}

.quote-banner{
    bottom: 145px;
    position: relative;
}
.my-quote{
    position: absolute;
    font-size: 90px;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 2350px;
    text-align: center;
    padding-left: 200px;
}
/*Gradient */
.gradient-image-container{
    margin: 100px;
    padding: 100px;
    background-image: linear-gradient(rgba(120,104, 198, 100),rgb(0, 0, 0));
    bottom:500px;
    border-radius: 20px;

}
.gradient-content{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding:20px;
}
.quote{
    font-size: 70px;
}
/* Footer Section */
.footer-container{
    display: flex;
    justify-content:space-around;
    background-image: linear-gradient(rgb(0, 0, 0),rgb(120,104,198,100));
    padding: 50px;
    bottom: 50px;  
    border: none;
  
}
 .left-container{
    padding: 0px;
    margin: 3px;
    color: white;
    text-align: left;

 }   
 .social-icons{
    size: 1px;

 }
 .right-container{
    padding: 50px;
    color: white;
 }
 .footer-head{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
 }
 .footer-text{
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 50px;
    padding-top: 20px;
    text-align: justify;
    
 }
 .black-text{
    color:#8BCED3;
 }
 .footer-button{
    margin-top: 30px;
    background-color: #8BCED3;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: inline-block;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    border-radius: 15px;
 }
 .email-head{
    width: 100%;
    padding: 16px 40px;
    border: none;
    border-radius: 5px;
    background-color: azure;
    right:200px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
 }
 .subscribe{
    font-size: 40px;
    justify-content: right;
    margin-bottom: 30px;
 }